<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>1</title>
</head>

<body>
  <!-- Site de Fórmula 1 -->

  <h1>Fórmula 1</h1>
  <img
    src="https://cdn-6.motorsport.com/images/amp/0a5zGwN0/s6/f1-german-gp-1986-nelson-pique.jpg"
    alt="Williams" />
  <p>
    Nelson Piquet é um ex-automobilista e empresário brasileiro, tricampeão mundial de Fórmula 1 nos anos de 1981, 1983 e 1987.<br>Piquet é considerado um dos melhores pilotos da história da Fórmula 1, por avaliações de grande prestígio sobre automobilismo.<br>Acima, está Piquet a bordo de sua Williams-Honda no GP da Alemanha em 1986.
  </p>
</body>

</html>